{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.json", "*.css", "*.scss", "*.js"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
